
<div id="container" class="img-index">
  <div id="content">
    <h1 class="">Welcome to Jaguar Survey</h1>
    <div id="sigin">
      <h2>Sign In</h2>
      <form id="signin" action="/create_session" method="post">
        <input autofocus type="email" name="email" placeholder="Email" size="35"></input>
        <br>
        <input type="password" name="password" placeholder="Password" size="35"></input>
        <br>
        <input class="button" type="submit" value="Enter"></input>
      </form>
    </div>

    <div class="clear"></div>

    <div id="signup">
      <h2>Sign Up</h2>
      <form name="signup" action="/create_user" method="post">
        <input type="text" name="user[name]" id="contact_name" placeholder="User" size="35"></input>
        <br>
        <input type="email" name="user[email]" placeholder="Email" size="35"></input>
        <br>
        <input type="password" name="user[password]" placeholder="Password" size="35"></input>
        <br>
        <input class="button" type="submit" value="Sign Up"></input>

      </form>
    </div>
    <div id="surveys_index">
      <h2>Top Surveys</h2>
      <ul>
        <li><a href="#">Survey 1</a></li>
        <li><a href="#">Survey 2</a></li>
        <li><a href="#">Survey 3</a></li>
      </ul>
  </div>


  