
<div id="container">
  <header>
    <img id="logo" src="/img/codea-logo.png" alt="Codea Camp">
  </header>

  <div id="content">
    <h1>Welcome to Jaguar Survey</h1>
    <div id="sigin">
      <h2>Sign In</h2>
      <form id="signin" action="/create_session" method="post">
        <input type="email" name="email" placeholder="Email"></input>
        <input type="password" name="password" placeholder="Password"></input>
        <input type="submit" value="Enter"></input>
      </form>
    </div>

    <div id="signup">
      <h2>Sign Up</h2>
      <form name="signup" action="/create_user" method="post">
        <input autofocus id="contact_name" type="text" size='40' name="user[name]" placeholder="User"></input>
        <input type="email" name="user[email]" placeholder="Email"></text>
        <input type="password" name="user[password]" placeholder="Password"></input>
        <!-- <input type="password" name="user[confirm_password]" placeholder="Confirm your password"></input> -->
        <input type="submit" value="Sign Up"></input>
      </form>
    </div>
  </div>

  <div id="surveys_index">
    <h2>Top Surveys</h2>
    <ul>
      <li><a href="#">Survey 1</a></li>
      <li><a href="#">Survey 2</a></li>
      <li><a href="#">Survey 3</a></li>
    </ul>
  </div>

  <footter>
    <p>Developed by Jaguares Team</p>
    <p>&copy; CodeaCamp</p>
  </footter>
</div>


  
