<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css remueve las diferenecia que hay entre browsers segun los defaults de css predeterminados que utilizan. 
    Revisa: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css este es el archivo donde van tus estilos, tu css
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>

  <div class="container">
    <header>
      <img id="logo" src="/img/codea-logo.png" alt="Codea Camp">
    </header>
    <div id="errors">

      <% if @notice %>
       <%= @notice %>
      <% end%>
    </div>
    <% if session[:user_id] %> 
      <a href="/destroy_session">Log out</a>
    <% end %>
    
    <%= yield %>
    <footer>
      <p>Developed by Jaguares Team</p>
      <p>&copy; CodeaCamp</p>
    </footer>
  </div>
</body>
</html>
