<div id="content">
  <form action="">
    <p>Name your survey:</p>
    <input type="text">
    <input type="submit" value="Add"></input>
    <p>Write question</p>
    <input type="text">
    <input type="submit" value="Add"></input>
    <p>Write first choice</p>
    <input type="text">
    <input type="submit" value="Add"></input>
    <p>Write second choice</p>
    <input type="text">
    <input type="submit" value="Add"></input>
    <p>Write third choice</p>
    <input type="text">
    <input type="submit" value="Add"></input>
    <br>
    <input type="submit" value="Create survey">
  </form>
</div>