<div id="content">
  <form action="/new_survey2" method="post">
    <p>Name your survey:</p>
    <input type="text" name="survey_name">
    <input type="submit" value="Add"></input>
    <p>Write question</p>
    <input type="text" name="question">
    <input type="submit" value="Add"></input>
    <p>Write first choice</p>
    <input type="text" name="choice1">
    <input type="submit" value="Add"></input>
    <p>Write second choice</p>
    <input type="text" name="choice2">
    <input type="submit" value="Add"></input>
    <p>Write third choice</p>
    <input type="text" name="">
    <input type="submit" value="Add"></input>
    <br>
    <input type="submit" value="Create survey">
  </form>
</div>