<div id="content">
  <form action="">
    <p><span>1.</span> Question 1</p>
    <input type="radio" name="q1-choice" value="1 choice"> 1 choice</input>
    <input type="radio" name="q1-choice" value="2 choice"> 2 choice</input>
    <input type="radio" name="q1-choice" value="3 choice"> 3 choice</input>
    <p><span>2.</span> Question 2</p>
    <input type="radio" name="q2-choice" value="1 choice"> 1 choice</input>
    <input type="radio" name="q2-choice" value="2 choice"> 2 choice</input>
    <input type="radio" name="q2-choice" value="3 choice"> 3 choice</input>
    <p><span>3.</span> Question 3</p>
    <input type="radio" name="q3-choice" value="1 choice"> 1 choice</input>
    <input type="radio" name="q3-choice" value="2 choice"> 2 choice</input>
    <input type="radio" name="q3-choice" value="3 choice"> 3 choice</input>
    <br>
    <br>
    <input type="submit" value="Send"></input>
  </form>
</div>