<div id="content">
  <h2>Welcome <%=current_user.name%></h2>

  <a href="/update_user">Edit your profile</a>
  <a href="/delete_user/<%=current_user.id%>">Delete your account</a>

  <div id="user_surveys">
    <div id="current_surveys">
      <h2>Your current surveys</h2>
    </div>
    <div id="past_surveys">
      <h2>Your past surveys</h2>
      <ul>
        <li>
          <p>Survey 3</p>
          <input type="submit" value="View">
          <input type="submit" value="Edit">
          <input type="submit" value="Delete">
        </li>
        <li>
          <p>Survey 4</p>
          <input type="submit" value="">
          <input type="submit" value="View">
          <input type="submit" value="Edit">
          <input type="submit" value="Delete">
        </li>
        <li>
          <p>Survey 5</p>
          <input type="submit" value="">
          <input type="submit" value="View">
          <input type="submit" value="Edit">
          <input type="submit" value="Delete">
        </li>
      </ul>
    </div>

  </div>
  <form action="">
    <input type="submit" value="Create a new survey">
  </form>
  <div id="user_stats">
    <p>Your current survey has been answered by 100 people</p>
  </div>

</div>
